.header__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color:  #2f80ed;
    text-decoration: none;
    z-index: 1;
  }

.header__link:hover {
    filter: opacity(65%);
  }
  